body {
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
	background: url('test/foo.jpg');
}